body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #1a1a1a;
}
.navigator{
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color:  #1a1a1a;
}
.container{
    width: 96%;
    height: 90%;
    margin-left: 3%;
    background-color:  #1a1a1a;
    position: relative;
    top: 5%;
    border-radius: 10px;
}
.excellences_box {
    width: 40%;
    height: 80%;
    position: relative;
    top: 10%;
    background-color:#1a1a1a ;
    left: 30%;
    margin: 0;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
  }
  .text {
    text-align: center;
    margin: 0;
    font-size: 5.2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .excellences_link{
    color: #D8D3C7;
    text-decoration: none;
    text-transform: capitalize;
  }
  .search_bar_container{
    width: 25%;
    height: 50%;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    bottom: 50%;
    padding-top: 1%;
  }
  .search_logo{
    display: flex;
    max-width: 1.4vw;
    max-height: 1.4vw;
    opacity: 70%;
    color: #ffffff;
    opacity: 20%;
  }
  .search_text,.search_text2{
    max-width: 18vw;
    max-height: 2vw;
    background-color: rgba(0, 0, 255, 0.051);
    position: relative;
    font-size: 1vw;
    justify-content: center;
    left: 2.2vw;
    bottom: 4vw;
    font-weight: 600;
    opacity: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-spacing: px;
    color: #ffffff;
    border: none;
    letter-spacing: 2px;
    text-transform: capitalize;
    

  }
  .search_text2{
    bottom: 1.3vw;
    margin-left: 2px;
  }
  .search_text2:hover,.search_logo{
    opacity: 100%;

  }
  .search_text:hover,.search_logo{
    opacity: 100%;

  }
  .languages{
    width: 10%;
    height: 45%;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    left: 85%;
    top: -110%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    
  }
  .tr-button{
    width: 30%;
    height:98%;
    background-color: #1a1a1a;
    margin-right: 40%;
    border: none;
    border-radius: 100%;
    font-size: 1.2vw;
    color: #ffffff;
    cursor: pointer;
    opacity: 60%;
  }
  .en-button{
    width: 30%;
    height: 98%;
    background-color: #1a1a1a;
    margin: 0;
    border: none;
    border-radius: 100%;
    font-size: 1.2vw;
    color: #ffffff;
    cursor: pointer;
    opacity: 60%;
  }
  .en-button:hover{
    text-decoration: underline;
    opacity: 100%;
  }
  .tr-button:hover{
    text-decoration: underline;
    opacity: 100%;
  }
  .lan1,.lan2{
    text-decoration: none;
    margin-right: 20%;
  }
  nav{
    width: 100%;
    height: 5vw;
    background-color: #1a1a1a;
    margin: 0;
    margin-top: 0%;
    position: absolute;
    display: flex;
    z-index: 5;

  }

  
  ul{
    width: 50%;
    height: 100%;
    background-color: #1a1a1a;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;

  }
  li{
    margin-right: 10%;
    background-color: rgba(128, 0, 128, 0);
    list-style: none;
    text-transform: none;
  }
  li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5vw;
    opacity: 80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  li a:hover{
    opacity: 100%;
  }
  .small-line{
    width: 70%;
    height: 1px;
    margin-left: 15%;
    position: absolute;
    top: 0;
    background-color: rgb(69, 69, 69);

  }
  .background{
    width: 100%;
    height: 45vw;
    background-color: rgba(255, 0, 0, 0);
    margin: 0;
    margin-top: 10px;
  }
  .img{
    width: 100%;
    height: 50vw;
    margin: 0;
    object-fit: contain;
    position: fixed;
    top: 5vw;
    z-index: -1;
  }
  .box-text{
    width: 100%;
    height: fit-content;
    position: relative;
    top: 28vw;
    justify-content: center;
    align-items: center;

  }
  .bigh1{
    width: 100%;
    height: 50%;
    margin-left: 0%;
    text-align: center;
    font-size: 6vw;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 8vw;
    letter-spacing: 10%;
    color: #ffffff;
    mix-blend-mode: exclusion;
    
    

  }
  .box-bottom,.box-button-right{
    width: 28%;
    height: 5vw;
    position: relative;
    bottom: 4vw;
    left: 20%;
    cursor: default;
    background-color: rgba(255, 0, 0, 0);
  }
 .left-button,.right-button{
  width: 60%;
  height: 60%;
  margin-left: 40%;
  margin-top: 1%;
  font-size: 1.4vw;
  border-radius: 50px;
  border:solid white 2px ;
  color: #D8D3C7;
  background-color: #00000076;
  opacity: 70%;
}
.box-button-right{
  left: 50%;
  background-color: rgba(255, 0, 0, 0);
  bottom: 10vw;
}
.right-button{
  background-color: #d8d3c7c6;
  border: solid 2px #fff;
  margin-left: 0%;
  margin-top: 4%;
  color: #1a1a1a;
}
.left-button:hover{
  opacity: 120%;
  cursor: pointer;
}
.right-button:hover{
  opacity: 120%;
  cursor: pointer;

}
 
.second-background{
  width: 100%;
  height: 50vw;
  z-index: 2;
  margin: 0%;
  background-color: #D8D3C7;
}
.box1{
  width: 35%;
  height: 70%;
  background-color: #00000076;
  position: relative;
  top: 10%;
  left: 0%;
  border-bottom-right-radius: 500px;  
}
.necklace{
  width: 80%;
  height: 90%;
  position: relative;
  object-fit: cover;
  left: 30%;
  top: 13%;
}
.necklace-text{
  width: 50%;
  height: 35%;
  position: relative;
  bottom: 65%;
  float: right;
  right: 5%;
  background-color: #c6212100;
  display: flex;
}
.necklace-h2{
 text-align: center;
 width: 100%;
 font-size: 5vw;
 color: #1e1b1b;
 letter-spacing: 50%;
}
.necklace-info{
  width: 80%;
  height: 70%;
  background-color: rgba(255, 0, 0, 0);
  margin-top:19%;
  position: absolute;
  margin-left: 10%;
  font-size: 1.5vw;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  
}
.necklace-button{
  width: 30%;
  height: 3vw;
  background-color: #1a1a1ae9;
  font-size: 1vw;
  position: absolute;
  right: 35%;
  top: 70%;
  border: solid white 1px;
  border-radius: 20px;
  color: #D8D3C7;
  cursor: pointer;
}
.necklace-button:hover{
  background-color: rgb(74, 0, 0);
  color: #D8D3C7;
  transition: all ease-in-out 0.2s;
  border: solid black 1px;
}
.necklace-video{
  width: 40%;
  height: 50%;
  background-color: rgba(242, 242, 242, 0.649);
  position: relative;
  display: flex;
  left: 55%;
  bottom: 30%;

}
.necklace-video video {
  width:120vw;
  height: 100%;
  object-fit: contain;
  position: relative;
  right: 14% ;
  top: 8%;


}
a{
  cursor: pointer;
}
.third-part{
  width: 100%;
  height: 49vw;
  background-color: #D8D3C7;
  margin: 0px;
}
.third-background{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0%;

  object-fit: fill;
}
.black-cover{
  width: 100%;
  height: 100%;
  position: relative;
  bottom:100.8%;
  background-color: rgba(0, 0, 0, 0.439);
  

}
.square{
  width: 30%;
  height: 50%;
  background-color: rgb(229, 229, 229);
  position: absolute;
  left: 35%;
  top: 25%;
  
}
.squareh4{
  width: 80%;
  height: fit-content;
  margin-left: 15%;
  margin-top: 22%;
  font-size: 1.2vw;
  text-transform: capitalize;

}
.squareh1{
  width: 80%;
  margin-left: 10%;
  font-size: 3vw;
  text-transform: capitalize;
  text-align: center;
  margin-top: -4%;
}
.squareh6{
  width: 64%;
  margin-left:16%;
  font-size: 1vw;
  text-align: justify;
  margin-top: -2%;
}
.fourth-part{
  width: 100%;
  height: 50vw;
  background-color: #D8D3C7;
  margin: 0%;
}
.bg-box{
  width: 35%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.92);
  position: relative;
  top: 8vw;
  float: right;


}
.earings-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  top: 15%;
  right: 30%;
}
.bg-texts-earings{
  width: 55%;
  height: 85%;
  position: relative;
  top: 10%;
  background-color: rgba(255, 255, 255, 0.456);
  left: 1%;
  border-radius: 20px;

}
.earings-h1{
  width: 100%;
  font-size: 10vw;
  letter-spacing: 3vw;
  text-align: center;
  height: fit-content;
  background-color: #D8D3C7;
  margin: 0;

}
.earings-h3{
  width: 80%;
  height: fit-content;
  font-size: 3vw;
  margin-left: 10%;
  margin-top: 2%;
  font-weight: 600;
  text-align: center;

}
.earings-h6{
  width: 50%;
  height: fit-content;
  font-size: 0.9vw;
  font-weight: 400;
  margin-top: 8%;
  margin-bottom: 0;
  margin-left: 14%;
  text-transform: capitalize;

}
.earings-h4{
  width: 70%;
  height: fit-content;
  font-size: 1.2vw;
  font-weight: 200;
  word-spacing: 10%;
  text-align: justify;
  margin-left: 15%;
  margin-top: -2%;
  
}
.addtocart{
  width: 90%;
  height: 3.4vw;
  margin-left:5%;
  background-color:black ;
  font-size: 1.6vw;
  border: none;
  margin-top: 5%;
  color: #D8D3C7;
  border-radius: 5px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all ease 0.5s;
}
.exploremoreearings{
  width: 90%;
  height: 3.4vw;
  margin-left:5%;
  background-color:#D8D3C7 ;
  font-size: 1.2vw;
  border: solid 1px rgb(255, 255, 255);
  margin-top: 1%;
  color: #1a1a1a;
  border-radius: 5px;
  text-transform: capitalize;
  transition: all ease 0.5s;
}
.addtocart:hover{
  background-color: #c6212100;
  border: solid black 1px;
  color: #1a1a1a;
  cursor: pointer;

}
.exploremoreearings:hover{
  cursor: pointer;
  border: solid 2px black;
}
.otherearings-box{
  width: 100%;
  height: 50vw;
  margin: 0;
  margin-top:7%;
  background-color: #D8D3C7;
}
.earings-bg2{
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: fill;
  z-index: 2;
}
.earings-black-cover{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.468);
  margin: 0;
  position: relative;
  top: -50.4vw;
}
.otherh1{
  width: 100%;
  text-align: center;
  font-size: 5vw;
  margin: 0;
  text-transform: capitalize;
  color: #D8D3C7;
  position: relative;
  top: 3vw;
}
.earings1-box{
  width: 25%;
  height: 75%;
  margin-top: 4%;
  margin-left: 15%;
  background-color: rgba(0, 0, 0, 0.524);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.e1-img,.e2-img{
  width: 100%;
  height: 80%;
  object-fit: contain;
  margin-top: 1.8vw;
}
.e1-button{
  width: 60%;
  height: 2.5vw;
  margin-left: 20%;
  margin-top: 1vw;
  background-color: #D8D3C7;
  border-radius: 5px;
  border: solid rgb(255, 255, 255) 2px;
  font-size: 1.2vw;
  transition: all ease 0.2s;
}
.e1-button:hover{
  background-color: #1a1a1a00;
  color: #D8D3C7;
  cursor: pointer;
}
.earing2-box{
  width: 25%;
  height: 73%;
  background-color: rgba(0, 0, 0, 0.524);
  position: absolute;
  top: 0vw;
  left: 60%;
  top: 20%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;


}
/* Initially hide the images  va baraye on toda aks kochika earings */
.e1-img, .e2-img {
  opacity: 0;

  transition: all 2s ease-out;
  clip-path: inset(100% 0 0 0);
}

.earings1-box, .earing2-box {
  transition: all 0.5s ease-out;
}

/* Add a class for showing the images on scroll */
.show-images .e1-img, .show-images .e2-img {
  opacity: 1;

  transition: all ease 2s;
  clip-path: inset(0 0 0 0);
}

.show-images .earings1-box {
  transform: translateX(0);
}

.show-images .earing2-box {
  transform: translateX(0);
}


/*baraye earings aks bozorde*/

.earings-img{
  opacity: 0;
  clip-path: inset(0 100% 0 0);
}
.show-images .earings-img{
  opacity: 1;
  height: 100%;
  overflow: hidden;
  transition: all ease 1.5s;
  clip-path: inset(0 0 0 0);

}
  /*ta inja */


.fifth-part{
  width: 100%;
  height: 160vw;
  margin: 0;
  background-color: #d8d3c7;
}
.braclets-color{
  width: 40%;
  height: 25%;
  background-color: #ffffffe5;
  position: relative;
  top: 55vw;
}
.braclets-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 17%;
  margin-top: 10%;
}
.braclets-texts{
  width: 45%;
  height: 25%;
  margin-left: 50%;

  margin-top: 22%;
}
.braclets-h1,.p-h1{
  width: 100%;
  height: fit-content;
  font-size: 8vw;
  text-align: center;
  letter-spacing: 30%;

}
.braclets-h5{
  width: 70%;
  height: fit-content;
  margin-left: 15%;
  font-size: 1.3vw;
  font-weight: 400;
  text-align: justify;
  margin-top: -5%;
}
.braclets-btt{
  width: 80%;
  height: 10%;
  margin-left: 10%;
  border: solid 2px #ffffff;
  border-radius: 10px;
  font-size: 1.2vw;
  background-color: #82978b;
  color: #ffffff;
  transition: all ease 0.3s;
}
.braclets-btt:hover{
  cursor: pointer;
  text-decoration: underline;
  border: solid 4px #ffffff;
  background-color: #00000076;
}

.braclets-img{
  opacity: 0;
  clip-path: inset(0 100% 0 0);
}
.show-bracletsimg .braclets-img{
  opacity: 1;
  height: 100%;
  overflow: hidden;
  transition: all ease 1.5s;
  clip-path: inset(0 0 0 0);

}
.p-color{
  width: 40%;
  height: 22%;
  float: right;
  background-color: #1a1a1a;
}
.p-img{
  width: 90%;
  height: 100%;
  margin-top: 10%;
  margin-left: -11%;
  object-fit: cover;
}
.p-texts{
  width: 52%;
  height: 25%;
  background-color: #D8D3C7;
  margin-top: -5%;
  margin-left: 1%;
}
.p-btt{
  width: 80%;
  height: 10%;
  margin-left: 10%;
  font-size: 1.2vw;
  border: solid aliceblue 2px;
  margin-top: 4vw;
  border-radius: 10px;
  background-color: #1a1a1a;
  color: #ffffff;
  transition: all ease 0.2s;
}
.p-btt:hover{
  background-color: #00000076;
  cursor: pointer;
  width: 70%;
  margin-left: 15%;
}

.p-bg{
  width: 80%;
  height: 55%;
  background-color: #00000076;
  margin: 0;
  margin-top: -2vw;
  margin-left: 2vw;
}
.p-vid{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 2vw;
  margin-left: 5vw;
}
.p-img{
  opacity: 0;
  clip-path: inset(0 0 0 100%);
}
.show-p-img .p-img{
  opacity: 1;
  height: 100%;
  overflow: hidden;
  transition: all ease 1.5s;
  clip-path: inset(0 0 0 0);

}

.p-vid{
  opacity: 0;
  clip-path: inset(0 100% 0 0);
}
.show-p-bg .p-vid{
  opacity: 1;
  height: 100%;
  overflow: hidden;
  transition: all ease 1.8s;
  clip-path: inset(0 0 0 0);

}
.p-bg-2{
  width: 100%;
  height: 12.5vw;
  background-color: rgba(255, 0, 0, 0);
  margin: 0;
  margin-top: 5.4vw;
  opacity: 0;
}
.p-aks{
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  opacity: 0;
}
.p-cover{
  width: 100%;
  height: 100%;
  position: relative;
  top: -12.9vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.p-cover-h1{
  font-size:5vw ;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}
.last-footer {
  width: 100%;
  height: 23vw;
 background-color: #1a1a1a;
  margin-top: -10vw;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;


}
.bx1,.bx2,.bx3,.bx4{
  width: 25%;
  height: 70%;
  margin-top: 5%;

}
.bx1{
  padding-left: 1vw;
}
.bx2{
  background-color: rgba(245, 222, 179, 0);
}
.bx3{
  background-color: rgba(0, 0, 255, 0);
}
.bx4{
  background-color: #82978b00;
}
.h2{
  font-size: 1.3vw;
  text-transform: capitalize;
}
.h2-1{
  font-size: 1.3vw;
  margin-left: 1vw;
  text-transform: capitalize;
}
.h5{
  margin-left: 1vw;
  font-weight: 300;
  font-size: 0.9vw;
  color: #ffffffa8;
}
.h5-1{
  margin-left: 1vw;
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9vw;
  color: #ffffffa8;
  width: fit-content;
  height: fit-content;

}
.h2-2{
  text-align: center;
  font-size: 1.3vw;
  text-transform: capitalize;
}
.media{
  width: 60%;
  height: 20%;
  margin-left: 20%;
  display: flex;
  background-color: #ffffff;
  border-radius: 5vw;

}
.m1,.m2,.m3{
  width: 33.3%;
  height: 100%;
  display: flex;
  margin-left: 2vw;
}
.m-insta{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 0%;
  margin-left: 0%;
}
.box-cards{
  width: 50%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 2 equal-width columns */
  grid-template-rows: repeat(3, 1fr); /* Create 2 equal-height rows */
  gap: 6px; /* Gap between the grid items */
  align-items: center; /* Center items vertically */
  justify-items: center; /* Center items horizontally */
  margin-left: 25%;
}
.master{
  width: 90%;
  height: 100%;
  
}
.master-2{
  width: 90%;
  height: 100%;
  margin-left: 1vw;
}
.m1:hover{
  cursor: pointer;

}
.m2:hover{
  cursor: pointer;
  
}
.m3:hover{
  cursor: pointer;
  
}
a{
  text-decoration: none;
  color: #fff;
}
.footer-h4{
  position: absolute;
  font-size: 1vw;
  top: 373vw;
  margin-left: 2vw;
  font-weight: 400;
  
}
.shopier{
  font-size: 1.4vw;
  font-weight: 600;
  color: #8A2BE2;
}
.shopier:hover{
  text-decoration: underline;
}
.mobile{
  display: none;
}
.mobile-btt{
  display: none;
}
.mobile-img{
  display: none;
}
.mobile-img2{
  display: none;
}
.braclets-h5-1{
 display: none;
}
.mobile-p{
  display: none;
}
.circle{
  display: none;
}
.hmbrgr{
  display: none;
}
.hmd-container{
  display: none;
}

@media only screen and (max-width:768px){
  .hmbrgr{
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    display: flex;
    position: relative;
    z-index: 13;
    margin-top: 3px;
    margin-left: 85%;
    top: -4vh;
  }
  .hmd-container{
    display: inline;
    width: 105%;
    height: 0px;
    margin: 0;
    padding: 0;
    z-index: 12;
    background-color: #1a1a1a;
    right: 0%;
    left: -10px;
    position: absolute;
    top: 0%;
    padding-top: 90px;
    padding-bottom: 30px;
    display: none;
    transition: ease 3s;
}

  .hmd-container ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;

  }
  .hmd-container ul li{
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .link1{
    font-size: 2vh;
    font-family: sans-serif;
  }

  .circle{
    position: fixed;
    bottom: 8vh;
    right: 0;
    width: 18%;
    height: 8%;
    display: block;
    border-radius: 100%;
    z-index: 12;
    opacity: 0;
    clip-path: inset(0 0 0 100%);
    transition: ease all 1.8s;
  }
  .circle-insta{
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin-top: 15%;
    margin-left: 15%;
  }

  .navigator{
    height: 25vw;
  }
  nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vw;
    background-color: #ffffff;
    opacity: 0;
    clip-path: inset(100% 0 0 0);
    transition: ease-in 0.8s;

    
  }
  ul{
    text-align: center;
    margin-left: 20%;
    gap: 10px;
    color: #fff;
    background-color: #ffffff;
    color: #1a1a1a;
    
  }
  nav ul li a{
    font-size: 3vw;
    color: #1a1a1a;
    

  }
  .mobile{
    width: 70%;
    height: 70%;
    display: block;
    margin-left: 15%;
    
  }
  .small-line{
    display: none;
  }
  .background{
    width: 100%;
    height: 120vw;
    
  }
  .excellences_box{
    width: 50%;
    left: 0;
    z-index: 13;
    
  }
  .text{
    font-size: 10vw;
    float: left;
    

  }

  /** in brayee login mobile **/
.search_bar_container{
  width: fit-content;
  height: 2vh;
  top: 10px;
  position: absolute;
  right: 10px;
  text-align: center;


}
.search_logo{
display: none;
}
.search_text2{
  font-size: 1vh;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  opacity: 100%;
  display: none;
}
.languages{
  border-radius: 0;
  width: 30%;
  margin-left: -15% ;
  margin-top: 12%;
  height: 50%;
  font-size: 5vw;
  color: #fff;
  display: none;
  
}
.tr-button,.en-button{
  font-size: 3.5vw;
  margin-top  : 0vw;
  margin-right:0vw ;
  border-radius: 0;
  height: 100%;
  text-decoration: none;
  background-color: transparent;
  
 
  
}
  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    
  }
  .box-text{
    height: 40vw;
    top: 80vw;
    background-color: #1a1a1a;
    
  }
  .bigh1{
    font-size: 10vw;
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    


  }
  .box-bottom{
    display: none;
    
  }
  .box-button-right{
    display: none;
  }
  .mobile-btt{
    width: 50%;
    height: 20%;
    margin-left: 25%;
    background-color: #ede9e0;
    display: block;
    border-radius: 20px;
    font-size: 3.5vw;
    border: none ;
    text-align: center;
    text-transform: capitalize;
    color: #1a1a1a;
    margin-top: -1.2vw;
  }
  .second-background{
    height: 220vw;
    width: 100%;
    padding-bottom: 30vh;
    background: linear-gradient(#D8D3C7 50%, #e5e5e5);
  }
  .box1{
    width: 100%;
    height: 48%;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    top: -1%;
    background: linear-gradient( #1a1a1a, #D8D3C7 80%);

  }
  .necklace-text{
    top:9vw;
    height: 20%;
    width: 100%;
    left: 0;


  }
  .necklace-h2{
    width: 100%;
    font-size: 10vw;
    margin-top: -1vw;
    height: 100%;
  }
  .necklace-info{
    width: 70%;
    margin-left: 15%;
    font-size: 4vw;
    margin-top: 12%;
  }
  .necklace-button{
    width: 60%;
    left: 20%;
    height: 25%;
    font-size: 3.2vw;
    margin-top: -4vw;
    border: none;
    background-color: #00000000;
    color: #D8D3C7;

  }

  .necklace-text a{
    background-color: #1a1a1ae3;
    width: 60%;
    margin-left: -80%;
    margin-top:22%;
    height: 25%;
    position: relative;
    z-index: 4;
    border-radius: 30px;
  }
  .necklace{
    margin: 0;
    width: 96%;
    height: 90%;
    object-fit: cover ;
    left: 2%;
    margin-top: -6vw;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  .necklace-video{
    width: 100%;
    margin-top: 100vw;
    left: 0;
    height: 45%;
    background-color: red;
    padding-bottom: 0vw;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    padding-top: 5vw;
    padding-bottom: 10vw;
    display: none;
  }
  .necklaceVideo{
    margin: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: -5vw;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    display: none;

  }
  .mobile-img{
    display: block;
    opacity: 0;
    clip-path: inset(100% 0 0 0);
    margin-left: -5vh;
    margin-top: -13%;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensures the video covers its container */
    pointer-events: none; 
    left: 0vh;
    background-color: red;
    display: none;

  }

  .show-mobileimg .mobile-img{
  opacity: 1;
  overflow: hidden;
  transition: all ease 1s;
  clip-path: inset(0 0 0 0);

}

  .third-part{
    width: 100%;
    height: 90vh;
    margin-top: 0vh;
  }
  .black-cover{
    width: 100%;
    height: 100%;
    margin-top: -0vh;

  }
  .square{
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-top: 20%;
    top: 0;
    left: 0;
    opacity: 0;
    clip-path: inset(0 0 100% 0);
  }
  .show-square .square{
    opacity: 1;
    overflow: hidden;
    transition: all ease 2s;
    clip-path: inset(0 0 0 0);
  
  }
  .squareh1{
    font-size: 5vh;
  }
  .squareh4{
    font-size: 2vh;
    font-weight: 500;
  }
  .squareh6{
    font-size: 1.8vh;
    font-weight: 300;
  }
  .mobile-img2{
    display: block;
    width: 90%;
    height: 40%;
    object-fit: cover;
    margin-left: 5%;

  }

  .bg-box{
    display: block;
    width: 100%;
    height: 40%;
    z-index: 3;
    margin-top: 20vh;
  
  }
  .earings-img{
    width: 80%;
    height: 100%;
    object-fit: contain;
    left: 10%;
    margin-top: -3vh;
  }
  .bg-texts-earings{
    width: 100%;
    height: fit-content;
    margin: 0;
    margin-top: -10vh;
    left: 0;
    z-index: 2;
    background-color: #D8D3C7;
    padding-bottom: 2vh;
    border-radius: 0;
    padding-bottom: 5vh;
    
  }
  .earings-h1{
    top: 5vh;
    position: absolute;
    font-size: 7vh;
    background-color: #D8D3C7;
    opacity: 0;
    clip-path: inset(0 100% 0 0);
    
  }
.show-earings-h1 .earings-h1{
  opacity: 1;
  overflow: hidden;
  transition: all ease 2.4s;
  clip-path: inset(0 0 0 0);

}
  .earings-h6{
    margin-top: 0vh;
    font-size: 1.3vh;
    width: fit-content;
  }
  .earings-h3{
    font-size: 3vh;
  }
  .earings-h4{
    font-size: 1.7vh;
    font-weight: 300;
  }
  .addtocart{
    height: 5vh;
    font-size: 2vh;
    margin-top: 0vh;
  }
  .exploremoreearings{
    height: 5vh;
    font-size: 2vh;
    background-color: #fff;
    margin-top: 1vh;
    border-radius: 30px;
  }
  .otherearings-box{
  margin-top: 10vh;
  height: 140vh;
  margin: 0;
  margin-top: -10vh;
}
.otherh1{
  width: 98%;
  font-size: 5vh;
  height: fit-content;
  color: #1a1a1a;
  padding-bottom: 5vh;
  margin: 0;
  margin-left: 1%;
  margin-top: -1vh;
}
.earings-black-cover{
  margin-top: 0;
  top: -120.7vh;
  display: block;
  background: linear-gradient(#D8D3C7,#fff);
  margin-left: 0;
 
  
}
.earings1-box{
  width: 98%;
  height: 45%;
  margin-left: 1%;
  background-color: transparent;
  margin-top: -1vh;
  

}
.e1-img,.e2-img{
  width: 94%;
  height: 80%;
  object-fit: cover;
  margin-left: 3%;
  margin-top: 5%;
  

}
.earing2-box{
  width: 98%;
  height: 45%;
  margin-left: 1%;
  left: 0;
  top: 55%;
  background-color: transparent;
  padding-bottom: 5vh;

}
.e1-button{
  height: 7%;
  font-size: 4vw;
  background-color: #000000be;
  color: #fff;
  border-radius: 10px;
  margin-top: 1vh;
  
 
}
.e1-button:hover{
  background-color: #1a1a1a;
}



.braclets-color{
  width: 100%;
  height: 30%;
  margin: 0;
  padding-top: 10px;
  margin-top: -50%;
  background-color: #1a1a1a00;
  

}
.braclets-img{
  width: 94%;
  height: 100%;
  margin: 0;
  margin-left: 3%;
  object-fit: cover;
  margin-top: -20vh;
  
}
.braclets-texts{
  margin-top: 10vh;
  width: 100%;
  height: 30%;
  margin-left: 0;
  color: #D8D3C7;
  
  
}
.braclets-h1{
  font-size: 7vh;
  color: #fff;
  
  
}
.braclets-h5{
  font-size: 2vh;
  color: #ffffffaf;
}
.braclets-h5-1{
  font-size: 2vh;
  color: #ffffffaf;
  display: block;
  text-align: justify;
  width: 70%;
  margin-left: 15%;
  font-weight: 300;
}
.braclets-btt{
  font-size: 2vh;
  height: 15%;
}
.third-part{
  margin-top: 120vh;
}
.fourth-part{
  width: 100%;
  height: 100vh;
}
.fifth-part{
  margin-top: -355vh;
  height: 120vh;
  background-color: #1a1a1a;
  padding-top: vh;
  
  
}

.p-color{
  display: none;

}
.mobile-p{
  width: 94%;
  margin-left: 3%;
  height: 60%;
  object-fit: cover;
  margin-top: 15%;
  display: block;


}
.p-texts{
  padding-top: 0%;
  width: 100%;
  margin: 0;
  height: 50%;
  background-color: #1a1a1a;
  color: #fff;
  padding-bottom: 48vh;
}
.p-h1{
  padding-top: 5vh;
  font-size: 6vh;
  width: 90%;
  margin-left: 5%;
}
.p-bg{
  display: none;
}
.p-vid{
  display: none;
}
.p-btt{
  width: 70%;
  margin-left: 15%;
  margin-bottom:12vh ;
  height: 5vh;
  font-size: 2vh;
  margin-top:0vh;
  background-color: #D8D3C7;
  color: #1a1a1a;
}



.last-footer{
  display: none;
}

}