body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #1a1a1a;
}
.navigator{
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color:  #1a1a1a;
}
.container{
    width: 96%;
    height: 90%;
    margin-left: 3%;
    background-color:  #1a1a1a;
    position: relative;
    top: 5%;
    border-radius: 10px;
}
.excellences_box {
    width: 40%;
    height: 80%;
    position: relative;
    top: 10%;
    background-color:#1a1a1a ;
    left: 30%;
    margin: 0;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
}
.text {
    text-align: center;
    margin: 0;
    font-size: 5.2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.excellences_link{
    color: #D8D3C7;
    text-decoration: none;
    text-transform: capitalize;
}
.search_bar_container{
    width: 25%;
    height: 50%;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    bottom: 50%;
    padding-top: 1%;
}
.search_logo{
    display: flex;
    max-width: 1.4vw;
    max-height: 1.4vw;
    opacity: 70%;
    color: #ffffff;
    opacity: 20%;
  }
  .search_text,.search_text2{
    max-width: 18vw;
    max-height: 2vw;
    background-color: rgba(0, 0, 255, 0.051);
    position: relative;
    font-size: 1vw;
    justify-content: center;
    left: 2.2vw;
    bottom: 4vw;
    font-weight: 600;
    opacity: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-spacing: px;
    color: #ffffff;
    border: none;
    letter-spacing: 2px;
    text-transform: capitalize;

  }
  .search_text2{
    bottom: 1.3vw;
    margin-left: 2px;
  }
  .search_text2:hover,.search_logo{
    opacity: 100%;

  }
  .search_text:hover,.search_logo{
    opacity: 100%;

  }
  .languages{
    width: 10%;
    height: 45%;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    left: 85%;
    top: -110%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    
  }
  .tr-button{
    width: 30%;
    height:98%;
    background-color: #1a1a1a;
    margin-right: 40%;
    border: none;

    font-size: 1.2vw;
    color: #ffffff;
    cursor: pointer;
    opacity: 60%;
  }
  .en-button{
    width: 30%;
    height: 98%;
    background-color: #1a1a1a;
    margin: 0;
    border: none;
    font-size: 1.2vw;
    color: #ffffff;
    cursor: pointer;
    opacity: 60%;
  }
  .en-button:hover{
    text-decoration: underline;
    opacity: 100%;
  }
  .tr-button:hover{
    text-decoration: underline;
    opacity: 100%;
  }
  .lan1,.lan2{
    text-decoration: none;
    margin-right: 20%;
  }
  nav{
    width: 100%;
    height: 5vw;
    background-color: #1a1a1a;
    margin: 0;
    margin-top: 4vh;
    position: absolute;
    display: flex;
    z-index: 10;

  }

  
  ul{
    width: 50%;
    height: 100%;
    background-color: #1a1a1a;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;

  }
  li{
    margin-right: 10%;
    background-color: rgba(128, 0, 128, 0);
    list-style: none;
    text-transform: none;
  }
  li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5vw;
    opacity: 80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  li a:hover{
    opacity: 100%;
  }
  .small-line{
    width: 70%;
    height: 1px;
    margin-left: 15%;
    position: absolute;
    top: 0;
    background-color: rgb(69, 69, 69);

}
.second-part{
    width: 100%;
    height: 40vw;
    background-color: #1a1a1a;
}
.container-2{
    display: flex;
    overflow: hidden;
    -webkit-mask-image:linear-gradient(90deg, #fff 20%, #fff 100% ,transparent);
    mask-image:linear-gradient(90deg, transparent #fff 20% ,#fff 100%, transparent);
    width: 100%;
    height: 30%;
    object-fit: contain;
    background-color: #1a1a1a;

}
.scroller{
    display: flex;
    gap: 8px;
    animation: scroll 25s linear infinite;
    animation-delay: calc(25s / -1);
    height: 100%;
}
.scroller:nth-child(2){
    animation: scroll2 25s linear infinite;
    animation-delay: calc(25s / -2);
}
.item{
    height: fit-content;
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 7px;
    object-fit: fill;
    height: 100%;

}
@keyframes scroll{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes scroll2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}

.container-3{
    display: flex;
    overflow: hidden;
    -webkit-mask-image:linear-gradient(90deg, #fff 20%, #fff 100% ,transparent);
    mask-image:linear-gradient(90deg, transparent #fff 20% ,#fff 100%, transparent);
    width: 100%;
    height: 30%;
    object-fit: contain;
    margin-top: 6vw;
    background-color: #1a1a1a;

    
}
.scroller-3{
    display: flex;
    gap: 3px;
    animation: scroll 25s linear infinite;
    animation-delay: calc(25s / -1);
    height: 100%;
    background-color: #1a1a1a;

}
.scroller-3:nth-child(2){
    animation: scroll2 25s linear infinite;
    animation-delay: calc(25s / -2);
}

.container-4{
    display: flex;
    overflow: hidden;
    -webkit-mask-image:linear-gradient(90deg, #fff 20%, #fff 100% ,transparent);
    mask-image:linear-gradient(90deg, transparent #fff 20% ,#fff 100%, transparent);
    width: 100%;
    height: 30%;
    object-fit: contain;
    background-color: #1a1a1a;

    
}
.scroller-4{
    display: flex;
    gap: 5px;
    animation: scroll 25s linear infinite;
    animation-delay: calc(25s / -1);
    height: 100%;
    background-color: #1a1a1a;

}
.scroller-4:nth-child(2){
    animation: scroll2 25s linear infinite;
    animation-delay: calc(25s / -2);
}


.e-texts{
    width: 100%;
    height: 40vw;
    position: absolute;
    top: 24%;
    background-color: #1a1a1a;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;

}
.earings-h1{
    width:fit-content;
    height: fit-content;
    font-size: 10vw;
    letter-spacing: 50%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; /* For Webkit browsers (Chrome/Safari) */
    -moz-osx-font-smoothing: grayscale;  /* For Firefox on MacOS */
    text-align: center;
    padding-left: 3vw;
    border-radius: 10px;
    color: #fff;
}
.third-part{
    width:100%;
    height: 45vw;
    background-color: #D8D3C7;
    margin: 0;
    z-index: 7;
    position: absolute;
    margin-top: -1.5vw;
    display: flex;
}
.e-bg2{
    width: 55%;
    height: 100%;
    background-color: #1a1a1a;
}
.e-img{
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
    object-fit: contain;

}
.e-texts2{
    width: 40%;
    height: 60%;
    background-color: #4b4b4b00;
    margin-left: 2.5%;
    margin-top: 10%;
    

}
.earrings-h1{
    width: fit-content;
    height: fit-content;
    font-size: 5vw;
    color: #1a1a1a;
    letter-spacing: 30%;
    text-align: center;
    padding-left: 5vw;
}
.earrings-h6{
    width: 90%;
    margin-left: 5%;
    height: fit-content;
    text-align: justify;
    font-size: 1.1vw;
    font-weight: 300;
    margin-top: -2vw;

}
.e-btt2{
    width: 90%;
    height: 12%;
    margin-left: 5%;
    font-size: 1.2vw;
    text-align: center;
    margin-top:0vw;
    border: solid 1px #ffffff;
    border-radius: 10px;
    background-color: #1a1a1af4;
    color: #fff;
    transition: all ease 0.3s;
}
.e-btt2:hover{
    cursor: pointer;
    background-color: #e1dddd;
    color: #1a1a1a;
    border: solid 2px #1a1a1a;

}
.last-part{
    width: 100%;
    height: 25vw;
    margin: 0;
    background-color: rgba(255, 0, 0, 0);
    z-index: 8;
    position: absolute;
    top: 100vw;
}
.last-footer {
    width: 100%;
    height: 22vw;
   background-color: #000000;
    margin-top: 3vw;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
  
  
  }
  .bx1,.bx2,.bx3,.bx4{
    width: 25%;
    height: 70%;
    margin-top: 5%;
  
  }
  .bx1{
    padding-left: 1vw;
  }
  .bx2{
    background-color: rgba(245, 222, 179, 0);
  }
  .bx3{
    background-color: rgba(0, 0, 255, 0);
  }
  .bx4{
    background-color: #82978b00;
  }
  .h2{
    font-size: 1.3vw;
    text-transform: capitalize;
  }
  .h2-1{
    font-size: 1.3vw;
    margin-left: 1vw;
    text-transform: capitalize;
  }
  .h5{
    margin-left: 1vw;
    font-weight: 300;
    font-size: 0.9vw;
    color: #ffffffa8;
  }
  .h5-1{
    margin-left: 1vw;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9vw;
    color: #ffffffa8;
    width: fit-content;
    height: fit-content;
  
  }
  .h2-2{
    text-align: center;
    font-size: 1.3vw;
    text-transform: capitalize;
  }
  .media{
    width: 60%;
    height: 20%;
    margin-left: 20%;
    display: flex;
    background-color: #ffffff;
    border-radius: 5vw;
  
  }
  .m1,.m2,.m3{
    width: 33.3%;
    height: 100%;
    display: flex;
    margin-left: 2vw;
  }
  .m-insta{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 0%;
    margin-left: 0%;
  }
  .box-cards{
    width: 40%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 2 equal-width columns */
    grid-template-rows: repeat(3, 1fr); /* Create 2 equal-height rows */
    gap: 6px; /* Gap between the grid items */
    align-items: center; /* Center items vertically */
    justify-items: center; /* Center items horizontally */
    margin-left: 30%;
  }
  .master{
    width: 100%;
    height: 100%;
    
  }
  .master-2{
    width: 100%;
    height: 100%;
    margin-left: 1vw;
  }
  .m1:hover{
    cursor: pointer;
  
  }
  .m2:hover{
    cursor: pointer;
    
  }
  .m3:hover{
    cursor: pointer;
    
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  .footer-h4{
    position: absolute;
    font-size: 1vw;
    top: 20vw;
    margin-left: 2vw;
    font-weight: 400;
    
  }
  .shopier{
    font-size: 1.4vw;
    font-weight: 600;
    color: #8A2BE2;
  }
  .shopier:hover{
    text-decoration: underline;
  }
  .mobile{
    display: none;
  }
  body{
    margin-top: 4vh;
  }
  .error-div{
    width: 100%;
    height: 4vh;
    position: absolute;
    top: 0vh;
    background-color: #3a3a3a;
    z-index: 14;
    display: flex;
    justify-content: center;
    align-items: center;

  }
 
  .error-h6{
    width: 100%;
    height: 50%;
    font-size: 1.5vh;
    font-weight: 300;
    color: #fff;
    text-align: center;
    font-family: sans-serif;

  }


  @media only screen and (max-width:768px){
    .navigator{
      height: 25vw;
      position: relative;
      z-index: 14;
    }
    nav{
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 15vw;
      background-color: #ffffff;
      opacity: 0;
      clip-path: inset(100% 0 0 0);
      transition: ease-in all 0.8s;
      z-index: 14;
      
    }
    ul{
      text-align: center;
      margin-left: 18%;
      gap: 10px;
      color: #fff;
      background-color: #ffffff;
      color: #1a1a1a;
      
    }
    nav ul li a{
      font-size: 3vw;
      color: #1a1a1a;
      
  
    }
    .mobile{
      width: 70%;
      height: 70%;
      display: block;
      margin-left: 15%;
      
    }
    .small-line{
      display: none;
    }
    .background{
      width: 100%;
      height: 120vw;
      
    }
    .excellences_box{
      width: 50%;
      left: 0;
      
    }
    .text{
      font-size: 10vw;
      float: left;
      
  
    }
  .search_bar_container{
    display: none;
  }
  .languages{
    border-radius: 0;
    width: 30%;
    margin-left: -15% ;
    margin-top: 12%;
    height: 50%;
    font-size: 5vw;
    color: #fff;
    
  }
  .tr-button,.en-button{
    font-size: 3vw;
    margin-top  : 6vw;
    margin-right:5vw ;
    border-radius: 0;
    height: 100%;
    text-decoration: underline;
    
   
    
  }
  .second-part{
    width: 100%;
    height: 70vh;
  }
  .e-texts{
    height: 120vh;
    width: 100%;
    margin-top: -31%;
    position: absolute;
    z-index: 11;
  }
  .earings-h1{
    font-size: 5vh;
    text-align: center;
  }





  .third-part{
    width: 100%;
    height: 90vh;
    display: block;
    position: relative;
    z-index: 12;
  }
  .e-bg2{
    width: 100%;
    margin: 0;
    height: 40%;
    padding-bottom: vh;

  }
  .e-img{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-top: 0;
  }
  .e-texts2{
    width: 100%;
    height: 60%;
    margin: 0;

  }
 .earrings-h1{
  width: 90%;
  font-size: 5vh;
  left: 0;
 }
 .earrings-h6{
  width: 80%;
  height: 30%;
  margin-left: 10%;
  font-size: 2vh;
  font-weight: 300;

 }
 .e-btt2{
  font-size: 2vh;
  
 }


  .last-part{
    display: none;
  }
  }
