<title data-lang="title">Excellences Store | Earings</title>
<link rel="stylesheet" href="../../static/users/css/earings.css">
<script src="../../static/users/css/earings.js"></script>
{% extends "users/layout2.html" %}
{% block body %}


        <div class="second-part">
            
            <div class="container-3">
                <div class="scroller-3">
                    <img src="../../static/users/e-contents/IMG_1433.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1726.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1727.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1797.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1798.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1799.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1800.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1801.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1802.jpg" alt="" class="item">
                </div>
                <div class="scroller">
                    <img src="../../static/users/e-contents/IMG_1803.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1804.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1805.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1806.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1807.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1808.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1809.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1810.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1811.jpg" alt="" class="item">
                </div>
            </div>
            <div class="container-2">
                <div class="scroller">
                    <img src="../../static/users/e-contents/IMG_1803.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1804.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1805.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1806.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1807.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1808.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1809.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1810.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1811.jpg" alt="" class="item">
                </div>
                <div class="scroller">
                    <img src="../../static/users/e-contents/IMG_1812.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1813.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1814.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1815.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1817.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1818.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1433.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1727.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1797.jpg" alt="" class="item">
                </div>
            </div>
            <div class="container-4">
                <div class="scroller-4">
                    <img src="../../static/users/e-contents/IMG_1812.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1813.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1814.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1815.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1817.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1818.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1433.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1727.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1797.jpg" alt="" class="item">
                </div>
                <div class="scroller">
                    <img src="../../static/users/e-contents/IMG_1726.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1800.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1802.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1804.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1801.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1809.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1803.JPG" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1807.jpg" alt="" class="item">
                    <img src="../../static/users/e-contents/IMG_1815.JPG" alt="" class="item">
                </div>
            </div>
        </div>
        <div class="e-texts">
            <h1 class="earings-h1" data-lang="earrings"> Earrings</h1>
        </div>
        <div class="third-part">
            <div class="e-bg2">
                <img src="../../static/users/e-contents/IMG_1822.jpg" alt="" class="e-img">
            </div>
            <div class="e-texts2">
                <h1 class="earrings-h1" data-lang="earrings">Earrings</h1>
                <h6 class="earrings-h6" data-lang="einfo">Unleash your inner elegance with our exquisite earrings. Designed to capture attention, these timeless pieces add a touch of sophistication to any outfit, making you shine with grace and style. Perfect for those who seek beauty in every detail.</h6>
                <a href="https://youtu.be/w4jNNHeJ9P8?si=rx1gXsaKa24-JWy7" target="_blank"><button class="e-btt2" data-lang="ebtt">Watch History Of Earrings</button></a>
            </div>
        </div>
        <div class="error-div">
            <h6 class="error-h6" data-lang="error">To optimize performance, please refresh the page once.</h6>
        </div>
        <div class="last-part">
            <footer class="last-footer">
                <div class="bx1">
                    <h2 class="h2-1" data-lang="company">Company</h2>
                    <a href="{% url 'index' %}" ><h5 class="h5">Excellences Store</h5></a>
                    <h5 class="h5">Address: Ankara, Turkey</h5>
    
                </div>
                <div class="bx2">
                    <h2 class="h2" data-lang="contactus">Contact Us At:</h2>
                    <h5 class="h5-1">Excellencesstore@gmail.com</h5>
                    <h5 class="h5">+90 501 068 27 00</h5>
                </div>
                <div class="bx3">
                    <h2 class="h2-2" data-lang="follow">Follow us on:</h2>
                    <div class="media">
                        <a href="https://www.instagram.com/excellences_store/" target="_blank"><div class="m1"><img src="../../static/users/e-contents/instagram copy.png" alt="" class="m-insta"></div></a>
                        <a href="#"><div class="m2"><img src="../../static/users/e-contents/youtube copy.png" alt="" class="m-insta"></div></a>
                        <a href="#"><div class="m3"><img src="../../static/users/e-contents/twitter(1) copy.png" alt="" class="m-insta"></div></a>
                    </div>
    
                    
                </div>
                <div class="bx4">
                    <h2 class="h2-2" data-lang="payment">Payment Methods:</h2>
                    <div class="box-cards">
                        <img src="../../static/users/e-contents/card copy.png" alt="" class="master">
                        <img src="../../static/users/e-contents/money copy.png" alt="" class="master">
                        <img src="../../static/users/e-contents/apple-pay copy.png" alt="" class="master">
                        <img src="../../static/users/e-contents/google-pay copy.png" alt="" class="master-2">
                        <img src="../../static/users/e-contents/visa copy.png" alt="" class="master-2">
                    </div>
                </div>
            
            
            </footer>
           
    
                

        </div>
    </body>  
{% endblock %}