<title data-lang="title">Excellences Store | Necklaces</title>
<link rel="stylesheet" href="../../static/users/css/necklace.css">
<script src="../../static/users/css/necklace.js"></script>
{% extends "users/layout2.html" %}
{% block body %}

   
        <div class="img-bg">
            <img src="../../static/users/n-contents/IMG_2082.JPG" alt="" class="khode-img">
            <h1 class="necklace-h1" data-lang="necklaces">Necklaces</h1>
        </div>
        <div class="second-bg">
            <div class="n-bg">
                <img src="../../static/users/n-contents/IMG_1774.JPG" alt="" class="n-img">
            </div>
            <div class="vertical-line"></div>
            <div class="n-texts">
                <h1 class="n-h1" data-lang="necklace">Necklace</h1>
                <h3 class="n-h3" data-lang="males">For Males</h3>
                <h6 class="n-h6" data-lang="info">Elevate your style to its finest version with a men's necklace. This accessory not only adds a unique touch to your look but also enhances your presence, making a powerful and modern statement.</h6>
                <a href="https://youtu.be/w4jNNHeJ9P8?si=rx1gXsaKa24-JWy7" target="_blank"><button class="n-btt" data-lang="malesbtt">Watch the history of necklaces for males</button></a>
            </div>
        </div>
        <div class="third-bg">
            <div class="n-bg2">
                <img src="../../static/users/n-contents/IMG_1783.jpg" alt="" class="n2-img">
            </div>
            <div class="vertical-line2"></div>
     
            <div class="n-text2">
                <h1 class="n-h2" data-lang="necklace">Necklace</h1>
                <h3 class="n-h3" data-lang="females">For Females</h3>
                <h6 class="n-h6" data-lang="info2">Transform your look with a necklace designed to highlight your individuality. It’s the perfect way to add sophistication and a powerful statement to any outfit.
                </h6>
                <a href="https://youtu.be/w4jNNHeJ9P8?si=rx1gXsaKa24-JWy7" target="_blank"><button class="n-btt" data-lang="btt2">Watch the history of necklaces for Females</button></a>

            </div>

        </div>


        <footer class="last-footer">
            <div class="bx1">
                <h2 class="h2-1" data-lang="company">Company</h2>
                <a href="{% url 'index' %}" ><h5 class="h5">Excellences Store</h5></a>
                <h5 class="h5">Address: Ankara, Turkey</h5>

            </div>
            <div class="bx2">
                <h2 class="h2" data-lang="contactus">Contact Us At:</h2>
                <h5 class="h5-1">Excellencesstore@gmail.com</h5>
                <h5 class="h5">+90 501 068 27 00</h5>
            </div>
            <div class="bx3">
                <h2 class="h2-2" data-lang="follow">Follow us on:</h2>
                <div class="media">
                    <a href="https://www.instagram.com/excellences_store/" target="_blank"><div class="m1"><img src="../../static/users/n-contents/instagram.png" alt="" class="m-insta"></div></a>
                    <a href="#"><div class="m2"><img src="../../static/users/n-contents/youtube.png" alt="" class="m-insta"></div></a>
                    <a href="#"><div class="m3"><img src="../../static/users/n-contents/twitter(1).png" alt="" class="m-insta"></div></a>
                </div>

                
            </div>
            <div class="bx4">
                <h2 class="h2-2" data-lang="payment">Payment Methods:</h2>
                <div class="box-cards">
                    <img src="../../static/users/n-contents/card.png" alt="" class="master">
                    <img src="../../static/users/n-contents/money.png" alt="" class="master">
                    <img src="../../static/users/n-contents/apple-pay.png" alt="" class="master">
                    <img src="../../static/users/n-contents/google-pay.png" alt="" class="master-2">
                    <img src="../../static/users/n-contents/visa.png" alt="" class="master-2">
                </div>
            </div>
         
        
        </footer>
{% endblock %}