<title data-lang="title">Excellences Store | Piercings</title>
<link rel="stylesheet" href="../../static/users/css/piercings.css">
<script src="../../static/users/css/piercings.js"></script>
{% extends "users/layout2.html" %}
{% block body %}

    <body>
        <div class="first-part">
            <img src="../../static/users/p-contents/IMG_1819.JPG" alt="" class="bracletsVideo">
            <div class="video-cover">
                <h1 class="Braclets" data-lang="bbr">Piercings</h1>
            </div>
        </div>
        <div class="second-part">
            <div class="box-left">
                <img src="../../static/users/p-contents/IMG_1847.JPG" alt="" class="b-img">
            </div>
            <div class="right-box">
                <h1 class="Braclets-h1" data-lang="bbrr">Ear</h1>
                <h3 class="bracletsfemale" data-lang="bbr">Piercings</h3>
                <h6 class="braclets-info" data-lang="bbrinfo">Ear piercings are a powerful way to express personality and individuality. They add a bold accent to any look, blending style with confidence. A carefully chosen piercing can enhance your appearance, creating a distinctive and impactful statement.</h6>
                <a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=excellences&sid=M2puRmQxYjlDZ0VycGlnNzBfLTFfQWNjZXNzb3JpZXNfIA==#Accessories"><button class="braclets-btt" data-lang="brbtt">Show all Ear piercings</button></a>
            </div>

        </div>
        <div class="male-part">
            <div class="males-text">
                <h1 class="Braclets-h1" data-lang="bbrb">Belly</h1>
                <h3 class="bracletsfemale" data-lang="bbr"> Piercings</h3>
                <h6 class="braclets-info" data-lang="bbrinfobel">Belly piercings add a unique touch of boldness and elegance to your style, accentuating your confidence and individuality. This striking detail enhances your overall look, creating a statement that’s both stylish and daring. Perfect for those who embrace their own sense of beauty and strength.</h6>
                <a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=excellences&sid=M2puRmQxYjlDZ0VycGlnNzBfLTFfQWNjZXNzb3JpZXNfIA==#Accessories"><button class="bracletsm-btt" data-lang="brbttbel">Show all the belly piercings</button></a>

            </div>
            <div class="m-img">
                <img src="../../static/users/p-contents/IMG_1859.JPG" alt="" class="b-img">

            </div>
        </div>
        <div class="fourth-part">
            <div class="left-box">
                <img src="../../static/users/p-contents/IMG_1867.JPG" alt="" class="b-img">

            </div>
            <div class="right-box">
                <h1 class="Braclets-h1" data-lang="bbrn">Nose</h1>
                <h3 class="bracletsfemale" data-lang="bbr">Piercings</h3>
                <h6 class="braclets-info" data-lang="bbrinfon">A nose piercing is a bold yet subtle way to showcase individuality and confidence. It enhances your facial features, creating a striking focal point that adds a touch of elegance and attitude to your style. A perfect choice for those who want to make a personal and impactful statement.</h6>
                <a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=excellences&sid=M2puRmQxYjlDZ0VycGlnNzBfLTFfQWNjZXNzb3JpZXNfIA==#Accessories"><button class="braclets-btt" data-lang="brbttn">Show all the nose piercings</button></a>

            </div>
        </div>



        <div class="third-part">
            <footer class="last-footer">
                <div class="bx1">
                    <h2 class="h2-1" data-lang="company">Company</h2>
                    <a href="{% url 'index' %}" ><h5 class="h5">Excellences Store</h5></a>
                    <h5 class="h5">Address: Ankara, Turkey</h5>
    
                </div>
                <div class="bx2">
                    <h2 class="h2" data-lang="contactus">Contact Us At:</h2>
                    <h5 class="h5-1">Excellencesstore@gmail.com</h5>
                    <h5 class="h5">+90 501 068 27 00</h5>
                </div>
                <div class="bx3">
                    <h2 class="h2-2" data-lang="follow">Follow us on:</h2>
                    <div class="media">
                        <a href="https://www.instagram.com/excellences_store/" target="_blank"><div class="m1"><img src="../../static/users/p-contents/instagram copy.png" alt="" class="m-insta"></div></a>
                        <a href="#"><div class="m2"><img src="../../static/users/p-contents/youtube copy.png" alt="" class="m-insta"></div></a>
                        <a href="#"><div class="m3"><img src="../../static/users/p-contents/twitter(1) copy.png" alt="" class="m-insta"></div></a>
                    </div>
    
                    
                </div>
                <div class="bx4">
                    <h2 class="h2-2" data-lang="payment">Payment Methods:</h2>
                    <div class="box-cards">
                        <img src="../../static/users/p-contents/card copy.png" alt="" class="master">
                        <img src="../../static/users/p-contents/money copy.png" alt="" class="master">
                        <img src="../../static/users/p-contents/apple-pay copy.png" alt="" class="master">
                        <img src="../../static/users/p-contents/google-pay copy.png" alt="" class="master-2">
                        <img src="../../static/users/p-contents/visa copy.png" alt="" class="master-2">
                    </div>
                </div>
            
            </footer>

        </div>
    </body>
{% endblock %}