body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #1a1a1a;
}
.navigator{
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color:  #1a1a1a;
}
.container{
    width: 96%;
    height: 90%;
    margin-left: 3%;
    background-color:  #1a1a1a;
    position: relative;
    top: 5%;
    border-radius: 10px;
}
.excellences_box {
    width: 40%;
    height: 80%;
    position: relative;
    top: 10%;
    background-color:#1a1a1a ;
    left: 30%;
    margin: 0;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
}
.text {
    text-align: center;
    margin: 0;
    font-size: 5.2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search_text,.search_text2{
  max-width: 18vw;
  max-height: 2vw;
  background-color: rgba(0, 0, 255, 0.051);
  position: relative;
  font-size: 1vw;
  justify-content: center;
  left: 2.2vw;
  bottom: 4vw;
  font-weight: 600;
  opacity: 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  word-spacing: px;
  color: #ffffff;
  border: none;
  letter-spacing: 2px;
  text-transform: capitalize;

}
.search_text2{
  bottom: 1.3vw;
  margin-left: 2px;
}
.search_text2:hover,.search_logo{
  opacity: 100%;

}
.search_text:hover,.search_logo{
  opacity: 100%;

}
.excellences_link{
    color: #D8D3C7;
    text-decoration: none;
    text-transform: capitalize;
}
.search_bar_container{
    width: 25%;
    height: 50%;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    bottom: 50%;
    padding-top: 1%;
}
.search_logo{
    display: flex;
    max-width: 1.4vw;
    max-height: 1.4vw;
    opacity: 70%;
    color: #ffffff;
    opacity: 20%;
  }
  .search_text{
    max-width: 18vw;
    max-height: 2vw;
    background-color: rgba(0, 0, 255, 0.051);
    position: relative;
    font-size: 1vw;
    justify-content: center;
    left: 2.2vw;
    bottom: 2.5vw;
    font-weight: 600;
    opacity: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-spacing: -1px;
    color: #ffffff;
  }
  .search_text:hover,.search_logo{
    opacity: 100%;

  }
  .languages{
    width: 10%;
    height: 45%;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    left: 85%;
    top: -110%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    
  }
  .tr-button{
    width: 30%;
    height:98%;
    background-color: #1a1a1a;
    margin-right: 40%;
    border: none;

    font-size: 1.2vw;
    color: #ffffff;
    cursor: pointer;
    opacity: 60%;
  }
  .en-button{
    width: 30%;
    height: 98%;
    background-color: #1a1a1a;
    margin: 0;
    border: none;
    font-size: 1.2vw;
    color: #ffffff;
    cursor: pointer;
    opacity: 60%;
  }
  .en-button:hover{
    text-decoration: underline;
    opacity: 100%;
  }
  .tr-button:hover{
    text-decoration: underline;
    opacity: 100%;
  }
  .lan1,.lan2{
    text-decoration: none;
    margin-right: 20%;
  }
  nav{
    width: 100%;
    height: 5vw;
    background-color: #1a1a1a;
    margin: 0;
    margin-top: 0%;
    position: absolute;
    display: flex;
    z-index: 10;

  }

  
  ul{
    width: 50%;
    height: 100%;
    background-color: #1a1a1a;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;

  }
  li{
    margin-right: 10%;
    background-color: rgba(128, 0, 128, 0);
    list-style: none;
    text-transform: none;
  }
  li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5vw;
    opacity: 80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  li a:hover{
    opacity: 100%;
  }
  .small-line{
    width: 70%;
    height: 1px;
    margin-left: 15%;
    position: absolute;
    top: 0;
    background-color: rgb(69, 69, 69);

}
.first-part{
    width: 100%;
    height: 43vw;
    background-color: red;
    margin:0;
    display: flex;
}
.left{
    width: 60%;
    height: 100%;
    background-color: #1a1a1a;
    margin: 0;
}
.right{
    width: 40%;
    height: 100%;
    background-color: #e1e1e1;
}
.left-img{
    width: 80%;
    height: 70%;
    object-fit: cover;
    margin-top: 15%;
    margin-left: 10%;
}
.reach-h1{
    width: 90%;
    text-align: center;
    font-size: 3.4vw;
    margin: 0;
    margin-top: 10vw;
    word-spacing: 20%;
    margin-left: 5%;
    text-transform: capitalize;

}


.gradient-button {
    width: 50%;
    margin-left: 25%;
    font-size: 1.4vw;
    margin-top: 5vw;
    font-weight: bold;
    padding: 12px 24px;
    border: 2px solid #ddd; /* Optional: a light border */
    border-radius: 50px;
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 10%;
  }
 .gmail-link{
    width: 50%;
    height: fit-content;
    display: flex;
    background-color: #1a1a1a;
    margin-left: 25%;
    margin-top: 2vw;
    border-radius: 40px;

 }
.gmail-img{
    width: 17%;
    margin-left: 2vw;
    
}
.gmail{
    width: 70%;
    font-size: 1.4vw;
    color: #ffffff;
    text-align: center;
    border: none;
    font-weight: bold;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #fd1d1d00;
    letter-spacing: 10%;
    margin-left: -2vw;
    cursor: pointer;

}
.gradient-button-whatsapp {
    width: 50%;
    margin-left: 25%;
    font-size: 1.4vw;
    margin-top: 2vw;
    font-weight: bold;
    padding: 12px 24px;
    border: solid 2px #ddd;
    border-radius: 50px;
    cursor: pointer;
    background-color: #25D366;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 10%;
}

 






.third-part{
    width: 100%;
    height: 20vw;
    margin: 0;
    margin-top:0vw;
    z-index: 10;
}
.last-footer {
    width: 100%;
    height: 22vw;
   background-color: #000000;
    margin-top: 3vw;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
  
  
  }
  .bx1,.bx2,.bx3,.bx4{
    width: 25%;
    height: 70%;
    margin-top: 5%;
  
  }
  .bx1{
    padding-left: 1vw;
  }
  .bx2{
    background-color: rgba(245, 222, 179, 0);
  }
  .bx3{
    background-color: rgba(0, 0, 255, 0);
  }
  .bx4{
    background-color: #82978b00;
  }
  .h2{
    font-size: 1.3vw;
    text-transform: capitalize;
  }
  .h2-1{
    font-size: 1.3vw;
    margin-left: 1vw;
    text-transform: capitalize;
  }
  .h5{
    margin-left: 1vw;
    font-weight: 300;
    font-size: 0.9vw;
    color: #ffffffa8;
  }
  .h5-1{
    margin-left: 1vw;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9vw;
    color: #ffffffa8;
    width: fit-content;
    height: fit-content;
  
  }
  .h2-2{
    text-align: center;
    font-size: 1.3vw;
    text-transform: capitalize;
  }
  .media{
    width: 60%;
    height: 20%;
    margin-left: 20%;
    display: flex;
    background-color: #ffffff;
    border-radius: 5vw;
  
  }
  .m1,.m2,.m3{
    width: 33.3%;
    height: 100%;
    display: flex;
    margin-left: 2vw;
  }
  .m-insta{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 0%;
    margin-left: 0%;
  }
  .box-cards{
    width: 40%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 2 equal-width columns */
    grid-template-rows: repeat(3, 1fr); /* Create 2 equal-height rows */
    gap: 6px; /* Gap between the grid items */
    align-items: center; /* Center items vertically */
    justify-items: center; /* Center items horizontally */
    margin-left: 30%;
  }
  .master{
    width: 100%;
    height: 100%;
    
  }
  .master-2{
    width: 100%;
    height: 100%;
    margin-left: 1vw;
  }
  .m1:hover{
    cursor: pointer;
  
  }
  .m2:hover{
    cursor: pointer;
    
  }
  .m3:hover{
    cursor: pointer;
    
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  .footer-h4{
    position: absolute;
    font-size: 1vw;
    top: 152vw;
    margin-left: 2vw;
    font-weight: 400;
    
  }
  .mobile{
    display: none;
  }
  @media only screen and (max-width:768px){
    .navigator{
      height: 25vw;
      z-index: 14;
      position: relative;
    }
    nav{
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 15vw;
      background-color: #ffffff;
      opacity: 1;

      transition: ease-in 0.8s;
      z-index: 20;
     
      
    }
    ul{
      text-align: center;
      margin-left: 18%;
      gap: 10px;
      color: #fff;
      background-color: #ffffff;
      color: #1a1a1a;
      
    }
    nav ul li a{
      font-size: 3vw;
      color: #1a1a1a;
      
  
    }
    .mobile{
      width: 70%;
      height: 70%;
      display: block;
      margin-left: 15%;
      
    }
    .small-line{
      display: none;
    }
    .background{
      width: 100%;
      height: 120vw;
      
    }
    .excellences_box{
      width: 50%;
      left: 0;
      
    }
    .text{
      font-size: 10vw;
      float: left;
      
  
    }
  .search_bar_container{
    display: none;
  }
  .languages{
    border-radius: 0;
    width: 30%;
    margin-left: -15% ;
    margin-top: 12%;
    height: 50%;
    font-size: 5vw;
    color: #fff;
    
  }
  .tr-button,.en-button{
    font-size: 3vw;
    margin-top  : 6vw;
    margin-right:5vw ;
    border-radius: 0;
    height: 100%;
    text-decoration: underline;
  }
.first-part{
width: 100%;
height: 100vh;
display: block;
background-color: #ddd;
}
.left{
width: 100%;
height: 40%;
margin: 0;
}
.left-img{
  object-fit: cover;
}
.right{
  width: 100%;
  height: 60%;
  margin: 0;
  top: 0;
}
.reach-h1{
  font-size: 9vw;
}
.gradient-button{
  font-size: 5vw;
  width: 80%;
  margin-left: 10%;
}
.gmail-link{
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}
.gmail{
  font-size: 5vw;
  
}
.gradient-button-whatsapp{
  width: 70%;
  margin-left: 15%;
  font-size: 5vw;
  margin-top: 5%;
}
.third-part{
  display: none;
}
  
}